<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>View Post</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>


	<div class="container mt-5">
		<!-- Post Container or Error Message Container -->
		<div class="card text-center">
			<div class="card-body">
				<h2 class="card-title">Page Not Found</h2>
				<p class="card-text">The page you were looking for could not be found.</p>

			</div>
		</div>
	</div>



</body>

</html>