<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Settings</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


</head>

<body>


	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/home/homeSignedIn">
			<img th:src="@{/images/logo.png}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
			Y
		</a>
		<div class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/signout}">Sign Out</a>
				</li>
			</ul>
		</div>
	</nav>


	<!-- Sidebar Container -->
	<div class="container-fluid">
		<div class="row">

			<!-- Sidebar -->
			<nav id="sidebar" class="col-2 md-block bg-light sidebar">
				<div class="position-sticky">
					<button th:action="@{/home/homeSignedIn}" class="btn btn-light btn-sm rounded-circle d-block mb-2"
						data-toggle="tooltip" data-placement="right" title="Home"
						onclick="window.location.href='/home/homeSignedIn'">
						<i class="bi bi-house-door" style="font-size: 20px;"></i>
					</button>

					<button th:action="@{home/viewProfile}"
						class="btn btn-light btn-sm btn-secondary rounded-circle d-block mb-2" data-toggle="tooltip"
						data-placement="right" title="Profile" onclick="window.location.href='/profile'">
						<i class="bi bi-person" style="font-size: 20px;"></i>
					</button>

					<button class="btn btn-light btn-sm rounded-circle d-block mb-2" data-toggle="tooltip"
						data-placement="right" title="Settings" onclick="window.location.href='/profile/settings'">
						<i class="bi bi-gear" style="font-size: 20px;"></i>
					</button>
				</div>
			</nav>

			<!-- Main Content Container -->
			<main class="col-md-10 col-lg-10 col-sm-10 px-md-3">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title" th:text="Settings"></h2>

						<hr class="my-4">

						<!-- Post container for displaying posts -->
						<div id="settingsContainer">

							<!-- Button container just to put them side by side -->
							<div class="d-flex">
								<button class="btn btn-primary mr-2" data-toggle="collapse" href="#changeUsernameFields"
									role="button" aria-expanded="false" aria-controls="changeUsernameFields">
									Change Username
								</button>
								<div class="collapse mr-2" id="changeUsernameFields">
									<form th:action="@{/profile/settings/changeUsername}" method="post">
										<input type="text" class="form-control mb-2" placeholder="New Username"
											name="newUsername">
										<input type="text" class="form-control mb-2" placeholder="Confirm New Username"
											name="newUsernameConfirm">
										<button type="submit" class="btn btn-success">Submit</button>
									</form>
								</div>
								<button class="btn btn-secondary mr-2" data-toggle="collapse"
									href="#changePasswordFields" role="button" aria-expanded="false"
									aria-controls="changePasswordFields">
									Change Password
								</button>
								<div class="collapse mr-2" id="changePasswordFields">
									<form th:action="@{/profile/settings/changePassword}" method="post">
									<input type="text" class="form-control mb-2" placeholder="Current Password" name="currentPassword">
									<input type="text" class="form-control mb-2" placeholder="New Password" name="newPassword">
									<input type="text" class="form-control mb-2" placeholder="Confirm New Password" name="newPasswordConfirm">
									<button type="submit" class="btn btn-success">Submit</button>
									</form>
								</div>
								<button class="btn btn-danger mr-2" data-toggle="collapse" href="#deleteAccountFields"
									role="button" aria-expanded="false" aria-controls="deleteAccountFields">
									Delete Account
								</button>
								<div class="collapse mr-2" id="deleteAccountFields">
									<button type="button" class="btn btn-danger">Confirm</button>
								</div>
							</div>
							<hr>
							<!-- Display error messages if they exist -->
							<div th:if="${error}" class="text-danger mt-2">
								<p th:text="${error}"></p>
							</div>

							<!-- Display success message if it exists -->
							<div th:if="${success}" class="text-success mt-2">
								<p th:text="${success}"></p>
							</div>
							<hr>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>


</body>

</html>