<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Y</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
	<!-- Script for making the button dropdown functionality -->
	<script>
		window.addEventListener('load', function () {
			document.getElementById('toggleFormBtn').addEventListener('click', function () {
				var formContainer = document.getElementById('postFormContainer');
				if (formContainer.style.display === 'none' || formContainer.style.display === '') {
					formContainer.style.display = 'block';
				} else {
					formContainer.style.display = 'none';
				}
			});
		});
	</script>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">
			<img th:src="@{/images/logo.png}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
			Y
		</a>
		<div class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/signout}">Sign Out</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Container containing Sidebar and Feed Container -->
	<div class="container-fluid">
		<div class="row">

			<!-- Sidebar -->
			<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
				<div class="position-sticky">
					<button id="toggleFormBtn" class="btn btn-primary btn-sm" data-toggle="tooltip"
						data-placement="right" title="Create Post">
						<img th:src="@{/images/create.png}" alt="Toggle Form" class="img-fluid"
							style="width: 20px; height: 20px;">
					</button>


					<div id="postFormContainer" style="display: none;">

						<ul class="nav flex-column">
							<li class="nav-item">
								<form id="postForm" th:action="@{/home/createPost}" th:object="${newPost}"
									method="post">
									<div class="form-group">
										<label for="title">Title:</label>
										<input type="text" class="form-control" th:field="*{title}" required>
									</div>
									<div class="form-group">
										<label for="text">Post Text:</label>
										<textarea class="form-control" th:field="*{text}" required></textarea>
									</div>
									<button type="submit" class="btn btn-primary">Create Post</button>
								</form>

							</li>
						</ul>
					</div>
				</div>
			</nav>

			<!-- Feed Container -->
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="jumbotron">
					<h1 class="display-4">Logged In</h1>
					<p class="lead">You are now logged in!</p>
					<hr class="my-4">
					<!-- Post container for displaying posts -->
					<div id="postsContainer">
						<div th:each="post : ${posts}">
							<h2>Title: <span th:text="${post.title}"></span></h2>
							<p>Post: <span th:text="${post.text}"></span></p>

							<!-- Button container just to put them side by side -->
							<div class="d-flex">
								<form th:action="@{'/home/viewPost/' + ${post.id}}" method="post" class="mr-2">
									<button type="submit" class="btn btn-primary">View</button>
								</form>
								<form th:action="@{'/home/deletePost/' + ${post.id}}" method="post">
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
							</div>
							<hr>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</body>

</html>